$background: #f0f0f0;
$color: #6f6f6f;

$blue: #1cb0f6;
$slight-grey: #e7e7e7;

$facebook: #39559f;
$google: #df360a;

$skill-gold: #ffc715;
$skil-star: #f0f0f0;
$skill-blue: #1cb0f6;
$skill-green: #7ac70c;
$skill-purple: #8549ba;
$skill-red: #d33131;

$relish-dark: #7ac70c;
$mustard-dark: #faa918;
$ketchup-dark: #d33131;
$raspberry-dark: #1cb0f6;
$jelly-dark: #8549ba;
$licorice-dark:  #4c4c4c;

$cloud-dark: #cfcfcf;
$cloud-light: #f0f0f0;

$mint: #bff199;
$cotten-candy: #f7c8c9;

$relish-light: #8ee000;
$mustard-light:  #ffc715;
$ketchup-light:#e53838;
$raspberry-light: #14d4f4;
$jelly-light: #a560e8;
$licorice-light:  #6f6f6f;

$ribbon-wrong:#d33131;
$ribbon-right: #7ac70c;
